@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary: rgba(166, 141, 103, 1);
    /* #A28E6C */
    
    --secondary: rgba(203, 184, 153, 1);
    --black: #1A1A1A;
}
* {
    margin: 0;
    padding: 0;
    line-height: 1;
}
body {
    color: #fff;
    font-family: Montserrat;
    line-height: 1em;
    background: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: var(--primary);
}
p, .card-content, .card-content li {
    line-height: 1.8em;
}
h1, h2, h3, h4 {
    font-weight: bold;
    text-transform: uppercase;
}
h1 {font-size: 40px;}
h2 {font-size: 36px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
.bigger-text {
    font-size: 20px;
}
.btn {
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 8px 30px;
}
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-secondary {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-link {
    color: var(--primary);
    text-decoration: none;
    position: relative;
}
.btn-link:hover {
    color: #fff;
}
.btn-link:after {
    content: '';
    background-image: url('../img/icon_arrow_right.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 30%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--green);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.text-white {
    color: #fff;
}
.text-primary {
    color: var(--primary) !important;
}
header {
    padding: 20px 0;
    position: sticky;
    -webkit-position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--black);
    z-index: 9999;
}
.logo {
    height: 36px;
}
.menu {
    display: flex;
    column-gap: 50px;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.menu li {
    list-style: none;
}
.navbar-toggler-icon {
    background: url('../img/icon_menu.svg') no-repeat center center;
    background-size: contain;
    margin-right: 10px;
    width: 1.8em;
    height: 1.8em;
}
.navbarToggler {
    cursor: pointer;
}
.navbarToggler:hover {
    color: var(--primary);
    background: rgba(0, 0, 0, 0.3);
}
#navswitch {
    display: none;
}
#navswitch:checked + label + .menu {
    display: block;
}
section {
    padding: 100px 0;
}
.feature-list {
    display: flex;
    gap: 30px;
}
.feature-list .box {
    flex: 0 0 auto;
    width: 50%;
}
.box {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    padding: 20px;
    height: 100%;
}
.box a {
    color: var(--primary);
}
.box-icon {
    height: 80px;
    width: 80px;
    object-fit: contain;
    margin-bottom: 20px;
}
.timeline {
    margin: 80px 0;
    padding: 0;
}
.timeline li {
    width: 50%;
    padding: 60px 0 5px;
    padding-right: 15%;
    position: relative;
    display: block;
}
.timeline li:nth-child(even):before {
    left: calc(15% - 8px);
}
.timeline li:nth-child(odd):before {
    right: calc(15% - 8px);
}
.timeline li:nth-child(even) {
    margin-left: calc(50% - 1px);
    padding-left: 15%;
    padding-right: 0;
}
.timeline-title {
    font-weight: bold;
    font-size: 30px;
    color: var(--primary);
    margin-bottom: 10px;
    line-height: 1.2em;
}
.timeline li:nth-child(odd) {
    border-right: 1px solid var(--primary);
}
.timeline li:nth-child(even) {
    border-left: 1px solid var(--primary);
}
.timeline li .timeline-title:after {
    content: '';
    font-size: 80px;
    position: absolute;
    display: block;
    top: 75px;
    width: 15%;
    height: 1px;
    background-color: var(--primary);
}
.timeline li:nth-child(odd) .timeline-title:after {
    right: 0;
}
.timeline li:nth-child(even) .timeline-title:after {
    left: 0;
}
.timeline-small-img {
    height: 30px;
    vertical-align: top;
}
.icon-big {
    fill: var(--green);
    height: 80px;
}
.icon-big img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.social-icons {
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 900;
}
.social-icons li {
    list-style: none;
    margin: 0 5px;
    width: 20px;
    height: 20px;
}
.social-icons svg {
    width: 100%;
    height: 100%;
    fill: #9da8ab;
}
.social-icons a:hover > svg {
    fill: var(--primary);
}
.download-icon {
    height: 40px;
}
.download-icon.small {
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
    opacity: .5;
}
.card {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 2px solid rgba(73, 88, 107, 0.3);
    margin: 20px 0;
}
.card-content, .card input {
    display: none;
}
.card input:checked + label + .card-content {
    display: block;
}
.card label {
    padding: 20px 20px 16px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.2em;
}
.card label:after {
    content: '▼';
    color: var(--primary);
    position: absolute;
    right: 0;
    padding: 0 20px;
    top: calc(50% - 7px);
}
.card input:checked + label:after {
    content: '▲';
    top: 20px;
}
.card-content {
    padding: 18px;
}
.card table {
    color: var(--primary);
    margin: 40px;
}
.epic-text {
    font-size: 70px;
}
footer {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.2);
}
footer a {
    margin-right: 20px;
}
footer a:last-child {
    margin-right: 0;
}
.download-box {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: 2px solid rgba(73, 88, 107, .3);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 25px
}
.download-box svg {
    height: 40px;
    width: 40px
}
.download-box svg {
    fill: #fff
}
.download-box:hover {
    background-color: rgb(73, 88, 107, .2)
}
ol li {
    line-height: 2em;
}
.section-label {
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
.pt-header {
    padding-top: 100px;
}
.integration-illustration {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 100;
}
.integration-illustration img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.system-text {
    font-weight: bold;
}
.small-text {
    font-size: 12px;
}
.lh {
    line-height: 1.8em;
}
.rounded-corners {
    border-radius: 12px;
}
@media only screen and (max-width: 600px) {
    .menu {
        display: none;
        position: absolute;
        background: var(--black);
        height: 50vh;
        width: 100%;
        left: 0;
        top: 100%;
        padding: 40px;
        font-size: 20px;
    }
    .menu li {
        line-height: 2.4em;
    }
    .timeline li {
        width: 90%;
        padding: 60px 0
    }
    .timeline li:nth-child(odd) {
        padding-right: 20%
    }
    .timeline li:nth-child(even) {
        margin-left: 0;
        padding-left: 0;
        padding-right: 20%
    }
    .timeline li:nth-child(even) {
        border-left: 0;
        border-right: 1px solid var(--primary)
    }
    .timeline li:nth-child(even) .timeline-title:after {
        left: auto;
        right: 0
    }
    .timeline li:nth-child(even):before {
        left: inherit;
        right: calc(15% - 8px)
    }
    .timeline li:nth-child(even):before, .timeline li:nth-child(odd):before {
        right: calc(15% - 4px)
    }
    .timeline-title {
        font-size: 16px;
        margin-top: 10px
    }
    .timeline-small-img {
        height: 14px
    }
    .epic-text {
        font-size: 36px;
    }
}
